// PRIMARY COLOURS
$blue: #0053aa;
$turquoise: #139cc2;
$green: #24652d;
$orange: #b17424;

// SECONDARY COLOURS

$white: #ffffff;

// BREAKPOINTS

$tablet-breakpoint:768px;
$desktop-breakpoint: 1280px;