@use '../../styles/fonts' as *;
@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;


.header {
    position: sticky;


    background-color: $black;

    &__image-banner--1 {
        height: 4.25rem;
        background-image: url(../../assets/images/pexels-sergio-andrés-soto-13329032.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__image-banner--2 {
        height: 4.25rem;
        background-image: url(../../assets/images/pexels-sergio-andrés-soto-13329032.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: -3.75rem;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 1rem .5rem 1rem;
    }

    &__logo {
        height: 3rem;

        @include tablet {
            height: 4rem;
        }

        @include desktop {
            height: 5rem;
        }
    }

    &__subcontainer--2 {

        @include tablet {
            width: 40%;
            display: flex;
            justify-content: space-around;
        }
    }

    &__menu-button {
        height: 2rem;

        @include tablet {
            display: none;
        }
    }

    &__link {
        display: none;

        @include tablet {
            font-size: .75rem;
            text-decoration: none;
            color: $sand;
            display: inline;
        }
    }




}